.hero-slide-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: darkgrey;
}

.hero-section .img-cont{
   flex-basis: 20%;

}

.advert-img {
    width: 100%
}

.splide__arrow {    
    top: 60% !important;
}

.splide {
    padding: 0 !important;
}

@media screen  and (max-width: 820px){
    .img-cont {
        display: none;
    }

    .hero-slide-flex {
        margin-top: 1rem;
        padding: 3rem .6rem;
    }
}






















