.sidebar-container {
    width: 90vh;

}

.sidebar-container .sidebar {
    width: 30%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    top: 15vh;
    left: 0;
    background-color: rgb(253, 251, 251);
    z-index: 10000;
}

.sidebar-container .sidebar-content {
    position: absolute;
    left: 30%;
    top: 15vh;
    z-index: 300000;
    background-color: white;
    overflow-y: scroll;
    padding: 2rem;
    width: 67%;
    height: 80vh;
}

.sidebar a {
    color: black;
    text-decoration: none !important;
}

.sidebar-container .sidebar .first-list {
    /* height: 50vh; */
    overflow-y: scroll;
    padding: 1rem 0;
    overflow-x: hidden;
}


.first-list a {
    padding: 10px 0;
    display: block;
    font-size: 1.3rem;
}

.sidebar-container .others {
    padding-top: 1.5rem;
    font-size: 1.3rem;
}

.sidebar .second-list a {
    padding: 10px 0;
    display: block;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar-container .sidebar ul li {
    border-bottom: 2px solid whitesmoke;
}

.fort-list a,
.third-list a,
.second-list a {
    display: block;
    padding: 20px 0;
    transition: .8s;
}



.fort-list a:hover,
.third-list a:hover,
.second-list a:hover,
.first-list a:hover {
    transform: translateX(3px);
}

.first-list a {
    transition: .8s;
}


.mobile-sidebar-container {
    position: fixed;
    Background-color: rgb(253, 251, 251);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20000;
    top: 16vh;
}



.mobile-first-list a {
    color: black !important;
    text-decoration: none !important;
}

.mobile-sidebar-container .mobile-first-list {
    /* height: 50vh; */
    overflow-y: scroll;
    padding: 1rem 0;
    overflow-x: hidden;
}


.mobile-first-list a {
    padding: 10px 40px;
    display: block;
    font-size: 1.3rem;
}

.mobile-others {
    font-size: 1.3rem;
    padding-top: 1.7rem;
}

.mobile-second-list a {
    padding: 10px 0;
    display: block;
}



.mobile-sidebar ul li {
    border-bottom: 2px solid whitesmoke;
}

.mobile-fort-list a,
.mobile-third-list a,
.mobile-second-list a {
    display: block;
    padding: 10px 0;
    transition: .8s;
    color: black;
    text-decoration: none;
}



.mobile-.fort-list a:hover,
.mobile-.third-list a:hover,
.mobile-.second-list a:hover,
.mobile-.first-list a:hover {
    transform: translateX(3px);
}

.mobile-first-list a {
    transition: .8s;
}

.mobile-sidebar-container {
    transform: translateX(-100%);
    transition: .8s;
}

.mobile-sidebar-container.toggle {
    transition: .8s;
    transform: translateX(0);
}

.color-red {
    color: crimson !important;
    font-weight: 800;
}


@media screen and (min-width: 1600px) {
    .sidebar-container .sidebar {
        top: 12vh;
    }
}


@media screen and (min-width: 1920px) {

    .sidebar-container .sidebar {
        top: 10vh;
    }
}


@media screen and (min-width: 2256px) {

    .sidebar-container .sidebar {
        top: 8vh;
    }
}

@media screen and (min-width: 2736px) {


    .sidebar-container .sidebar {
        top: 6vh;
    }
}